@import '@/uni_modules/uni-scss/variables.scss';

.loading {
    position: relative;
    opacity: .4;

    &::after {
        position: absolute;

        border: 2px solid #f3f3f3;
        border-top: 2px solid #555;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        display: inline-block;
        animation: spin 1s linear infinite;
        transform-origin: center;
        content: ''
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes doudong{ 
	10% { 
	  transform: rotate(3deg); 
	} 
	20% { 
	  transform: rotate(-3deg); 
	} 
	30% { 
	  transform: rotate(3deg); 
	} 
	40% { 
	  transform: rotate(-3deg); 
	} 
	50%,100% { 
	  transform: rotate(0deg); 
	} 
}